<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- =============================================== -->
        <!--    Document Title-->
        <!-- =============================================== -->
        <title>@ViewData["Title"] - Laudos Web</title>

        <!-- =============================================== -->
        <!--    Favicons-->
        <!-- =============================================== -->
        <link rel="apple-touch-icon" sizes="180x180" href="~/lib/template-phoenix/assets/img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/lib/template-phoenix/assets/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/lib/template-phoenix/assets/img/favicons/favicon-16x16.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/lib/template-phoenix/assets/img/favicons/favicon.ico">
        <link rel="manifest" href="~/lib/template-phoenix/assets/img/favicons/manifest.json">
        <meta name="msapplication-TileImage" content="~/lib/template-phoenix/assets/img/favicons/mstile-150x150.png">
        <meta name="theme-color" content="#ffffff">
        <script src="~/lib/template-phoenix/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/simplebar/simplebar.min.js"></script>
        <script src="~/lib/template-phoenix/assets/js/config.js"></script>
        <script>
            window.config.set({
                phoenixNavbarTopShape: 'slim',
                phoenixNavbarPosition: 'horizontal'
            });
        </script>

        <!-- ===============================================-->
        <!--    Stylesheets-->
        <!-- ===============================================-->
        <link href="~/lib/template-phoenix/vendors/choices/choices.min.css" rel="stylesheet">
        <link href="~/lib/template-phoenix/vendors/dhtmlx-gantt/dhtmlxgantt.css" rel="stylesheet">
        <link href="~/lib/template-phoenix/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
        <link href="~/lib/template-phoenix/vendors/simplebar/simplebar.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link href="~/lib/template-phoenix/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
        <link href="~/lib/template-phoenix/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
        <link href="~/lib/template-phoenix/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
        <link href="~/lib/template-phoenix/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
        <script>
            var phoenixIsRTL = window.config.config.phoenixIsRTL;
            if (phoenixIsRTL) {
                var linkDefault = document.getElementById('style-default');
                var userLinkDefault = document.getElementById('user-style-default');
                linkDefault.setAttribute('disabled', true);
                userLinkDefault.setAttribute('disabled', true);
                document.querySelector('html').setAttribute('dir', 'rtl');
            } else {
                var linkRTL = document.getElementById('style-rtl');
                var userLinkRTL = document.getElementById('user-style-rtl');
                linkRTL.setAttribute('disabled', true);
                userLinkRTL.setAttribute('disabled', true);
            }
        </script>

        @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/LaudoWeb.App.styles.css" asp-append-version="true" /> *@
    </head>
    <body>
        <div class="container-fluid p-0">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <!-- =============================================== -->
        <!--    JavaScripts-->
        <!-- =============================================== -->
        <script src="~/lib/template-phoenix/vendors/popper/popper.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/bootstrap/bootstrap.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/anchorjs/anchor.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/is/is.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/fontawesome/all.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/lodash/lodash.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
        <script src="~/lib/template-phoenix/vendors/list.js/list.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/feather-icons/feather.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/dayjs/dayjs.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/choices/choices.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/echarts/echarts.min.js"></script>
        <script src="~/lib/template-phoenix/vendors/dhtmlx-gantt/dhtmlxgantt.js"></script>
        <script src="~/lib/template-phoenix/assets/js/phoenix.js"></script>
        <script src="~/lib/template-phoenix/assets/js/projectmanagement-dashboard.js"></script>

        @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script> *@
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
